<div class="fr-follow mt-16" id="follow-4209">
	<div class="fr-container">
		<div class="fr-grid-row">
			<div class="fr-col-12">
				<div class="fr-follow__social">
					<h2 class="fr-h5">Suivez moi
						<br>
						sur les réseaux sociaux
					</h2>
					<ul class="fr-btns-group">
						<li>
							<a class="fr-btn--facebook fr-btn" target="_blank" rel="noopener external" title="Thomas BOYER - nouvelle fenêtre" id="social-button-4210" href="https://www.facebook.com/profile.php?id=100074114628809">
								Facebook
							</a>
						</li>
						<li>
							<a class="fr-btn--twitter-x fr-btn" target="_blank" rel="noopener external" title="Thomas BOYER - nouvelle fenêtre" id="social-button-4211" href="https://x.com/tydoo34">
								X (anciennement Twitter)
							</a>
						</li>
						<li>
							<a class="fr-btn--linkedin fr-btn" target="_blank" rel="noopener external" title="Thomas BOYER - nouvelle fenêtre" id="social-button-4212" href="https://www.linkedin.com/in/boyer-thomas/">
								Linkedin
							</a>
						</li>
						<li>
							<a class="fr-btn--instagram fr-btn" target="_blank" rel="noopener external" title="Thomas BOYER - nouvelle fenêtre" id="social-button-4213" href="https://www.instagram.com/tydoo_bauer/">
								Instagram
							</a>
						</li>
						<li>
							<a class="fr-btn--youtube fr-btn" target="_blank" rel="noopener external" title="Thomas BOYER - nouvelle fenêtre" id="social-button-4214" href="https://www.youtube.com/Tydoo34570">
								Youtube
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="fr-footer" role="contentinfo" id="footer-6769">
	<div class="fr-container">
		<div class="fr-footer__body">
			<div class="fr-footer__brand fr-enlarge-link">
				<a id="footer-operator" href="/" title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
					<p class="fr-logo">
						THOMAS
						<br>BOYER
					</p>
				</a>
			</div>
			{% if is_granted('Administrateur') %}
				<div class="fr-footer__content">
					<p class="fr-footer__content-desc">Le Système de Design de l'État est utilisé sur ce site dans le cadre d'une formation OpenClassrooms. Ce n'est pas un site officiel de l'état Français.</p>
					<ul class="fr-footer__content-list">
						<li class="fr-footer__content-item">
							<a title="Gestion des utilisateurs" id="footer__content-link-6770" class="fr-footer__content-link" href="/administration/users">Gestion des utilisateurs</a>
						</li>
						<li class="fr-footer__content-item">
							<a title="Gestion des articles" id="footer__content-link-6771" class="fr-footer__content-link" href="/administration/articles">Gestion des articles</a>
						</li>
						<li class="fr-footer__content-item">
							<a title="Gestion des catégories" id="footer__content-link-6772" class="fr-footer__content-link" href="/administration/categories">Gestion des catégories</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
</footer>
