<header role="banner" class="fr-header">
	<div class="fr-header__body">
		<div class="fr-container">
			<div class="fr-header__body-row">
				<div class="fr-header__brand fr-enlarge-link">
					<div class="fr-header__brand-top">
						<div class="fr-header__logo">
							<p class="fr-logo">
								THOMAS
								<br>BOYER
							</p>
						</div>
						<div class="fr-header__navbar">
							<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-3477" aria-haspopup="menu" id="button-3478" title="Menu">
								Menu
							</button>
						</div>
					</div>
					<div class="fr-header__service">
						<a href="/home" title="Accueil">
							<p class="fr-header__service-title">
								Le blog personel de Thomas
							</p>
						</a>
					</div>
				</div>
				<div class="fr-header__tools">
					<div class="fr-header__tools-links">
						<button class="fr-btn--display fr-btn" aria-controls="fr-theme-modal" data-fr-opened="false" id="button-6540" title="Paramètres d'affichage">
							Paramètres d'affichage
						</button>
						<ul class="fr-btns-group">
							<li>
								<a class="fr-btn--team fr-btn" id="button-menu-2" href="/contact">
									Contact
								</a>
							</li>
							<li>
								<a class="fr-btn--account fr-btn" id="button-menu-3" href="/login">
									Espace utilisateur
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fr-header__menu fr-modal" id="modal-3477" aria-labelledby="button-3478">
		<div class="fr-container">
			<button class="fr-btn--close fr-btn" aria-controls="modal-3477" id="button-3486" title="Fermer">
				Fermer
			</button>
			<div class="fr-header__menu-links"></div>
			<nav class="fr-nav" id="navigation-3487" role="navigation" aria-label="Menu principal">
				<ul class="fr-nav__list">
					<li class="fr-nav__item">
						<a class="fr-nav__link" href="/home" id="nav-3488">Accueil</a>
					</li>
					<li class="fr-nav__item">
						<button class="fr-nav__btn" aria-expanded="false" aria-controls="collapse-2509">Catégories</button>
						<div class="fr-collapse fr-menu" id="collapse-2509">
							<ul class="fr-menu__list">
								{% for category in allCategories() %}
									<li>
										<a class="fr-nav__link" href="/category/{{category.id}}" id="nav-2510">{{category.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</li>
					<li class="fr-nav__item">
						<a class="fr-nav__link" href="#" id="nav-3490">Un article au hasard</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<dialog id="fr-theme-modal" class="fr-modal" aria-labelledby="fr-theme-modal-title">
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" id="button-6543" title="Fermer">
							Fermer
						</button>
					</div>
					<div class="fr-modal__content">
						<h1 id="fr-theme-modal-title" class="fr-modal__title">
							Paramètres d’affichage
						</h1>
						<div id="fr-display" class="fr-display">
							<fieldset class="fr-fieldset" id="display-fieldset">
								<legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="display-fieldset-legend">
									Choisissez un thème pour personnaliser l’apparence du site.
								</legend>
								<div class="fr-fieldset__element">
									<div class="fr-radio-group fr-radio-rich">
										<input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
										<label class="fr-label" for="fr-radios-theme-light">
											Thème clair
										</label>
										<div class="fr-radio-rich__pictogram">
											<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
												<use class="fr-artwork-decorative" href="/artwork/pictograms/environment/sun.svg#artwork-decorative"></use>
												<use class="fr-artwork-minor" href="/artwork/pictograms/environment/sun.svg#artwork-minor"></use>
												<use class="fr-artwork-major" href="/artwork/pictograms/environment/sun.svg#artwork-major"></use>
											</svg>
										</div>
									</div>
								</div>
								<div class="fr-fieldset__element">
									<div class="fr-radio-group fr-radio-rich">
										<input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
										<label class="fr-label" for="fr-radios-theme-dark">
											Thème sombre
										</label>
										<div class="fr-radio-rich__pictogram">
											<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
												<use class="fr-artwork-decorative" href="/artwork/pictograms/environment/moon.svg#artwork-decorative"></use>
												<use class="fr-artwork-minor" href="/artwork/pictograms/environment/moon.svg#artwork-minor"></use>
												<use class="fr-artwork-major" href="/artwork/pictograms/environment/moon.svg#artwork-major"></use>
											</svg>
										</div>
									</div>
								</div>
								<div class="fr-fieldset__element">
									<div class="fr-radio-group fr-radio-rich">
										<input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
										<label class="fr-label" for="fr-radios-theme-system">
											Système
											<span class="fr-hint-text">Utilise les paramètres système</span>
										</label>
										<div class="fr-radio-rich__pictogram">
											<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
												<use class="fr-artwork-decorative" href="/artwork/pictograms/system/system.svg#artwork-decorative"></use>
												<use class="fr-artwork-minor" href="/artwork/pictograms/system/system.svg#artwork-minor"></use>
												<use class="fr-artwork-major" href="/artwork/pictograms/system/system.svg#artwork-major"></use>
											</svg>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>
