{% extends "layout.html.twig" %}
{% block title 'Erreur interne du serveur' %}
{% block body %}
	<section class="error-wrap space-bottom-60 space-top-60 bg-color-light-1 transition-default">
		<div class="container">
			<div class="error-box img-height-100">
				<img src="/assets/media/elements/dog_sitting.png" alt="500" style="height:499px;">
				<h2 class="title" style="margin-top:50px;">Erreur interne du serveur</h2>
				<p class="description">Uh-oh ! Il semblerait qu'une turbulence inattendue ait secoué nos serveurs. Nos experts travaillent déjà à rétablir l'ordre numérique. En attendant, respirez profondément et réessayez dans un instant. Nous apprécions votre patience !</p>
				<a href="/home" class="axil-btn axil-btn-fill axil-btn-dark axil-btn-large">Retourner à l'accueil<div class="icon-holder">
						<i class="regular-arrow-back"></i>
					</div>
				</a>
			</div>
		</div>
	</section>
{% endblock %}
