{% extends "base.html.twig" %}
{% block title 'Accueil' %}
{% block body %}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-3891">Voir le fil d’Ariane</button>
		<div class="fr-collapse" id="breadcrumb-3891">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="breadcrumb-3883" aria-current="page">Accueil</a>
				</li>
			</ol>
		</div>
	</nav>
	<main role="main" id="content">
		<figure class="fr-quote !m-8">
			<blockquote cite="[À MODIFIER - https://lien-vers-la-source.fr]">
				<p class="fr-text--lg">« Explorez le monde captivant du développement web à travers les yeux d'un passionné qui a commencé à coder à l'âge de 14 ans. Bienvenue sur mon blog personnel, où l'expérience rencontre la créativité, et les lignes de code racontent mon parcours en tant que développeur web. »</p>
			</blockquote>
			<figcaption>
				<p class="fr-quote__author">Thomas</p>
			</figcaption>
		</figure>
		<h1 class="w-full text-center">Tous mes articles</h1>
		<div class="fr-container">
			{% include "partials/_list_post.html.twig" with {blogPosts,comments}%}
		</div>
	</main>
{% endblock %}
