<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Ecowan">
		<meta name="copyright" content="Ecowan">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Thomas B. |
			{% block title '' %}
		</title>
		<meta name="description" content="Blog de Thomas B.">
		<meta name="keywords" content="blog">
		<meta name="turbo-cache-control" content="no-cache">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link
		rel="icon" href="favicon.ico">
		{# {{ encore_entry_link_tags('app') }} #}
		{% block css '' %}
		{# {{ encore_entry_script_tags('app') }} #}
		{% block js_head '' %}
	</head>
	<body class="text-slate-600 dark:text-slate-200">{% block body '' %}</body>
</html>
